html {
	background-color: #fdfdf9;
}
body {
	background-color: #fdfdf9;
}
#top-bar {
	position: fixed;
	z-index: 99;
	background-color: #009ae6;
	width: 100vw;
	border-bottom: 1px solid #0072AA;
}
#wrapper {
	background-color: #fdfdf9;
	color: black;
	margin-top: 48px;
}
.container, .project.big, .collection:not(.small) {
	background-color: white;
	border: 1px solid #888;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
	margin-bottom: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-right: 10px;
	margin-left: 10px;
}
.collection:not(.small) .contents, .viewer {
	margin-left: 10px;
}
.viewer {
	margin-right: 10px;
	margin-bottom: 10px;
}
.details {
	border-radius: 15px;
}
.header, .title {
	margin: 0;
	margin-bottom: .25em;
	padding: .4em 0 .4em 10px;
	background-color: #ccc;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top: 2px solid white;
	border-bottom: 1px solid #888;
}
.bar {
	padding-left: 30px;
}
.paginator {
	margin: 0;
	margin-top: 13px;
}
#footer {
	background-color: #9f824a;
}
.is-public, .is-published {
	display: none;
}
.my_projects.list .is-public, .my_projects.list .is-published, .my_collections.list .is-public, .my_collections.list .is-published {
	display: inline;
}
.embed:not([style*="position: fixed;"]) {
	z-index: 98 !important;	
}
.pure-menu-children {
	background-color: #009ae6 !important;
	border: 1px solid #0072AA !important;
	border-top: none !important;
}
.pure-button {
	color: #fff;
	background-color: #ff7420;
	border-radius: 5px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
}
.notes, .description {
	border: 2px dashed #d5d5d5;
}
.user_results.list {
	margin: 15px;
}
.my_collections.search, .my_projects.search {
	margin-top: 10px;
	margin-left: -20px !important;
}
.buttons {
	justify-content: space-around;
}
.collection .title h1[contenteditable] {
	border: 2px dashed #b9b9b9;
	padding-left: 2px;
	padding-right: 2px;
}
.collection .title h1[contenteditable]:hover {
	border: 2px dashed #848484;
}
.pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
	background-color: #4cbcf2;
}
#top-bar .pure-menu-link:focus, #top-bar .pure-menu-link:hover {
	color: #fff;
}
/*.collection img.thumbnail .project img.thumbnail {
	border: 1px solid #888 !important;
}*/
