html {
	background-color: #fdfdf9;
}
body {
	background-color: #fdfdf9;
}
#top-bar {
	background: rgb(23,179,255);
	background: linear-gradient(180deg, rgba(23,179,255,1) 0%, rgba(0,127,189,1) 100%);
	position: fixed;
	z-index: 1000;
	background-color: #2d3142;
	width: 100vw;
}
#wrapper {
	background-color: #fdfdf9;
	color: black;
	margin-top: 48px;
}
.container, .slideshow, .thumbnail {
	border: 1px solid #888;
}
.container {
	background-color: white;
	margin-bottom: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
}
.header {
	margin: 0;
	margin-bottom: .25em;
	padding: .4em 0 .4em 10px;
	background-color: #ccc;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top: 2px solid white;
	border-bottom: 1px solid #888;
}
.is-public {
	display: none;
}
.is-published {
	display: none;
}
