html {
	background-color: #ffc;
}
body {
	background-color: #ffc;
}
#top-bar {
	background: rgb(23,179,255);
	background: linear-gradient(180deg, rgba(23,179,255,1) 0%, rgba(0,127,189,1) 100%);
	position: fixed;
	z-index: 1000;
	background-color: #2d3142;
	width: 100vw;
}
#wrapper {
	background-color: #ffc;
	color: black;
	margin-top: 48px;
}
.container, .slideshow, .thumbnail {
	border: 1px solid #888;
}
.container {
	
	background-image: url("https://the2000isawesome.github.io/snaptheme/fuzz.png");
	background-repeat: repeat;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.35);
}
.is-public {
	display: none;
}
.is-published {
	display: none;
}
